@use './logo/style' as logo
@use './nav/style' as nav
    
.pro-header
    display: flex 
    align-items: center
    justify-content: space-between
    padding: 16px 0

    max-width: 1440px
    margin: 0 auto

    // margin-bottom: 24px