.pro-navigation
    &__list
        display: flex 
        align-items: center
        gap: 24px
    
    &__href
        color: var(--text-inverse)
        transition: color .2s
    
        &:hover
            color: var(--link-hover)
    
        &:active
            color: var(--link-active)