.pro-button 
    border: 1px solid var(--border-primary)
    transition: border .2s, color .2s
    cursor: pointer
    color: var(--text-inverse)

    padding: 8px 16px

    &:hover 
        border-color: var(--border-hover)
        color: var(--link-color)

    &:active
        border-color: var(--border-active)
        color: var(--link-active)